<template>
    <div>
        <div class="container">
            <div class="block-header">
                <h2>
                    Perfil de usuario
                </h2>
            </div>
            <!-- Basic Examples -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                Perfil
                            </h2>
                        </div>
                        <div class="body">
                            <profile-component></profile-component>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Basic Examples -->
        </div>
    </div>
</template>