<template>
<div>
    <div class="row">
        <div class="col-sm-6">
            <select class="form-control filter" @ @change="dateRangeChange($event)">
                <option value="today" selected>Hoy</option>
                <option value="week">Esta semana</option>
                <option value="month">Este mes</option>
                <option value="year">Este año</option>
                <option value="all">Todas</option>
            </select>

        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover" id="ActivitiesDatatable">
            <thead>
            <tr>
                <th>Fecha</th>
                <th>Actividad</th>
                <th>Telefono</th>
                <th>Contactos</th>
                <th>Locacion</th>
                <th>Usa alarma</th>
                <th>Ver detalles</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th>Fecha</th>
                <th>Actividad</th>
                <th>Telefono</th>
                <th>Contactos</th>
                <th>Locacion</th>
                <th>Usa alarma</th>
                <th>Ver detalles</th>
            </tr>
            </tfoot>
            <tbody>
            <tr v-for="(activitie, index) in activities">
                <td>{{ activitie.datetime }}</td>
                <td>{{ activitie.name }}</td>
                <td>{{ activitie.phone }}</td>
                <td>{{ activitie.contact }}</td>
                <td>{{ activitie.location }}</td>
                <td>{{ activitie.use_alert ? 'Si' : 'No' }}</td>
                <td>
                    <button
                        class="btn-info waves-effect m-r-20"
                        data-toggle="modal"
                        data-target="#largeModal"
                        :data-index="index"
                        @click="showModal(index)"
                    ><i class="material-icons">list</i></button>
                </td>
            </tr>
            <tr v-if="!activities.length">
                <td colspan="7" class="text-center">Sin resultados</td>
            </tr>
            <tr v-if="max_lenght > activities.length">
                <td colspan="1"></td>
                <td colspan="4"><button class="btn btn-default" style="width:100%;" v-on:click="getActivities()"> Mostrar </button></td>
                <td colspan="2"></td>
            </tr>
            </tbody>
        </table>

        <!-- Large Size -->
        <div class="modal fade" id="largeModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="largeModalLabel">{{modalData.name}}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="card">
                                <div class="header">
                                    <h2>
                                        Detalles de actividad
                                    </h2>
                                </div>
                                <div class="body table-responsive">
                                    <table class="table table-bordered table-striped">
                                        <tbody>
                                        <tr v-if="modalData.name">
                                            <td>Actividad</td>
                                            <td>{{modalData.name}}</td>
                                        </tr>
                                        <tr v-if="modalData.use_alert">
                                            <td>Usa alarma</td>
                                            <td>{{modalData.use_alert ? 'Si' : 'No'}}</td>
                                        </tr>
                                        <tr v-if="modalData.datetime">
                                            <td>Fecha de actividad</td>
                                            <td>{{modalData.datetime}}</td>
                                        </tr>
                                        <tr v-if="modalData.use_alert">
                                            <td>Fecha de alarma</td>
                                            <td>{{modalData.datetime_alert}}</td>
                                        </tr>
                                        <tr v-if="modalData.description">
                                            <td>Descripcion</td>
                                            <td>{{modalData.description}}</td>
                                        </tr>
                                        <tr v-if="modalData.contact">
                                            <td>Contacto</td>
                                            <td>{{modalData.contact}}</td>
                                        </tr>
                                        <tr v-if="modalData.priority">
                                            <td>Prioridad</td>
                                            <td>{{modalData.priority}}</td>
                                        </tr>
                                        <tr v-if="modalData.start">
                                            <td>Inicio</td>
                                            <td>{{parseTime(modalData.start)}}</td>
                                        </tr>
                                        <tr v-if="modalData.end">
                                            <td>Fin</td>
                                            <td>{{parseTime(modalData.end)}}</td>
                                        </tr>
                                        <tr v-if="modalData.type">
                                            <td>Tipo</td>
                                            <td>{{modalData.type}}</td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</template>

<script>
    export default {
        mounted(){
            this.setDates();
            this.filters = this.extend(this.filters, this.dateFilters.today);
            this.getActivities();
        },
        data() {
            return {
                activities: [],
                dateFilters: {
                    today : {},
                    week : {},
                    month : {},
                    year : {},
                    all : {
                        fromDate: '2000-01-01',
                        toDate: '2500-01-01',
                    },
                },
                max_lenght: 0,
                filters: {
                    results: 20,
                    page: 1
                },
                modalData: {
                    name: null,
                    use_alert: null,
                    datetime: null,
                    datetime_alert: null,
                    description: null,
                    business: null,
                    contact: null,
                    priority: null,
                    start: null,
                    end: null,
                    type: null,
                    phone: null,
                    location: null,
                },
            }
        },
        methods: {
            getActivities(){
                let urlActivities = '/api/activities';
                axios.get(urlActivities, {
                    headers: {
                        Authorization: 'Bearer ' + userData.last_token //the token is a variable which holds the token
                    },
                    params: this.filters
                }).then(response => {
                    if (!response.data.success){
                        alert('Error en el sistema');
                    }

                    this.max_lenght = response.data.total_results;
                    this.activities = this.activities.concat(response.data.results);
                    this.filters.page += 1;
                });
            },

            dateRangeChange(event){
                this.filters = this.extend(this.filters, this.dateFilters[event.target.value]);
                this.clearActivities();
                this.getActivities();
            },

            clearActivities(){
                this.filters.page = 1;
                this.activities = [];
            },

            showModal(index){
                let activitie = this.activities[index];
                this.modalData = {
                    name: activitie.name,
                    use_alert: activitie.use_alert,
                    datetime: activitie.datetime,
                    datetime_alert: activitie.datetime_alert,
                    description: activitie.description,
                    business: activitie.business,
                    contact: activitie.contact,
                    priority: activitie.priority,
                    start: activitie.start,
                    end: activitie.end,
                    type: activitie.type,
                    phone: activitie.phone,
                    location: activitie.location,
                };
            },

            setDates(){
                var date = new Date();
                let dateFormatted = date.toJSON().slice(0, 10);

                let weekStart = new Date(date.getFullYear(), date.getMonth(), date.getDate()-7).toJSON().slice(0, 10);
                let weekEnd = new Date(date.getFullYear(), date.getMonth(), date.getDate()+7).toJSON().slice(0, 10);

                let monthStart = new Date(date.getFullYear(), date.getMonth(), 1).toJSON().slice(0, 10);
                let monthEnd = new Date(date.getFullYear(), date.getMonth(), 31).toJSON().slice(0, 10);

                let yearStart = new Date(date.getFullYear(), 0, 1).toJSON().slice(0, 10);
                let yearEnd = new Date(date.getFullYear(), 11, 31).toJSON().slice(0, 10);

                this.dateFilters.today = {
                    fromDate: dateFormatted,
                    toDate: new Date(date.getFullYear(), date.getMonth(), date.getDate()+1).toJSON().slice(0, 10),
                };

                this.dateFilters.week = {
                    fromDate: weekStart,
                    toDate: weekEnd,
                };

                this.dateFilters.month = {
                    fromDate: monthStart,
                    toDate: monthEnd,
                };


                this.dateFilters.year = {
                    fromDate: yearStart,
                    toDate: yearEnd,
                };
            },

            extend(obj, src) {
                for (var key in src) {
                    if (src.hasOwnProperty(key)) obj[key] = src[key];
                }
                return obj;
            },

            parseTime(num){
                var hours = Math.floor(num / 60);
                var minutes = num % 60;
                return hours + ":" + minutes;
            }
        }
    }
</script>
