<div class="modal fade" id="largeModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="largeModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                Detalles de actividad
                            </h2>
                        </div>
                        <div class="body table-responsive">
                            <table class="table table-bordered table-striped">
                                <tbody>
                                <tr>
                                    <td>Actividad</td>
                                    <td>{{modalData.name}}</td>
                                </tr>
                                <tr>
                                    <td>Usa alarma</td>
                                    <td>{{modalData.use_alert ? 'Si' : 'No'}}</td>
                                </tr>
                                <tr>
                                    <td>Fecha de actividad</td>
                                    <td>{{modalData.datetime}}</td>
                                </tr>
                                <tr>
                                    <td>Fecha de alarma</td>
                                    <td>{{modalData.datetime_alert}}</td>
                                </tr>
                                <tr>
                                    <td>Descripcion</td>
                                    <td>{{modalData.description}}</td>
                                </tr>
                                <tr>
                                    <td>Contacto</td>
                                    <td>{{modalData.contact}}</td>
                                </tr>
                                <tr>
                                    <td>Prioridad</td>
                                    <td>{{modalData.priority}}</td>
                                </tr>
                                <tr>
                                    <td>Inicio</td>
                                    <td>{{modalData.start}}</td>
                                </tr>
                                <tr>
                                    <td>Fin</td>
                                    <td>{{modalData.end}}</td>
                                </tr>
                                <tr>
                                    <td>Tipo</td>
                                    <td>{{modalData.type}}</td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
            </div>
        </div>
    </div>
</div>

<script>
    export default {
        mounted(){

        },
        data() {
            return {
                modalData: {
                    name: null,
                    use_alert: null,
                    datetime: null,
                    datetime_alert: null,
                    description: null,
                    business: null,
                    contact: null,
                    priority: null,
                    start: null,
                    end: null,
                    type: null,
                    phone: null,
                    location: null,
                },
            }
        },
        methods: {

        }
    }
</script>