<template>
    <div class="body table-responsive">
        <table class="table table-bordered">
            <tbody>
            <tr>
                <td width="20%">Nombre</td>
                <td>{{userData.user.name}}</td>
            </tr>
            <tr>
                <td width="20%">Email</td>
                <td>{{userData.user.email}}</td>
            </tr>
            <tr>
                <td width="20%">Cuit</td>
                <td>{{userData.user.active_cuit.cuit}}</td>
            </tr>
            <tr>
                <td width="20%">Tipo de servicio</td>
                <td>{{userData.user.active_cuit.business.service_key}}</td>
            </tr>
            <tr>
                <td width="20%">Empresa</td>
                <td>{{userData.user.active_cuit.business.empresa}}</td>
            </tr>
            <tr>
                <td width="20%">Vencimiento</td>
                <td>{{userData.user.active_cuit.expire_date}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        mounted(){
            this.getUserDetails();
        },
        data() {
            return {
                userData: []
            }
        },
        methods: {
            getUserDetails() {
                let url = '/api/user';
                axios.get(url, {
                    headers: {
                        Authorization: 'Bearer ' + userData.last_token //the token is a variable which holds the token
                    }
                }).then(response => {
                    if (!response.data.success) {
                        alert('Error en el sistema');
                    }

                    this.userData = response.data;
                    this.page += 1;
                });
            },

        }
    }
</script>
